extends ../partials/layout.jade

block content
  section.book
    .book__pages
    
      
      .book__page
        .book__content
    
      .book__page.book__page_title
        .book__content
          img(src="images/cover.jpg", alt="Обложка")
    
      .book__page
        .book__content
          p Ровно 60 бобов на чашку кофе отсчитывал Бетховен с каждым рассветом. Стол Чарльза Диккенса украшала ваза с живыми цветами. Моцарт к 7 утра уже был полностью одет. Ингмар Бергман десятилетиями ел взбитые сливки на завтрак. 

          p Рутина или ритуал? Обыденность, которая подчиняет жизнь, или порядок, который освобождает ум для других, по-настоящему интересных дел?
        
      .book__page.book__page_cover
        .book__content
          img(src="images/picture-1.jpg", alt="Иллюстрация")
    
      .book__page
        .book__content
          p Сделать несколько шагов по брусчатке Воздвиженки, среди домов то ли в стиле барокко, то ли киевского модерна конца позапрошлого века. В мае 1891 года, когда на улице Воздвиженской родился Михаил Булгаков, здесь было так же солнечно.
          
      .book__page.book__page_black
        .book__content
          p Открыть двери библиотеки, в которой каждое утро, с 7 до 11, тебя ждет завтрак и свежая пресса
          
      .book__page
        .book__content
          p Кивнуть приятелям и начать день как Джордж Вашингтон – с вопроса: «Что хорошего я сделаю сегодня?». Планирование дел на день это важный утренний ритуал. Такая дисциплина делает нас непреклонными  – как минимум по пути на работу.
          
      .book__page.book__page_cover
        .book__content
          img(src="images/picture-2.jpg", alt="Иллюстрация")

      .book__page.book__page_green
        .book__content
          p А уже в полдень «Ботан» открывает двери совам

      .book__page
        .book__content
          p Просыпается Оскар Уайльд, который готов на что угодно ради молодости, кроме как рано вставать, заниматься гимнастикой и быть полезным для общества. Заканчивается похмелье у Фицджеральда, который вот-вот допишет третий вариант «Ночь нежна». Что касается Мураками, то он уже закончил рабочий день, вернулся с пробежки и слушает музыку.

      .book__page
        .book__content
          figure
            img(src="images/picture-3.jpg", alt="Иллюстрация")
            figcaption В этих страницах хранятся жизни и опыт людей, с которыми у тебя много общего. Библиотека в стиле нон-фикшн – это литература, основанная на реальных событиях. 
          
      .book__page.book__page_red
        .book__content
          p Здесь ты с 12 до 23 можешь посвятить время главному – себе и своему обучению
    
      .book__page
        .book__content
          p Мир наконец догадался: Lifelong Learning – это единственное, что тебе остается, когда любопытство и амбиции выходят из берегов формального образования. Тогда мы выбираем непрерывное обучение на протяжении жизни.

          p Грамотный выбор литературы, персональный свет, вай-фай, удобные столы, диваны и, не поверишь, гамак – это стоит 30 гривен в час. А вот твоя неукротимость и стремление к развитию цены не имеет.
    
      .book__page.book__page_green
        .book__content
          p Botan is the new sexy, и в этой игре есть только одно твердое правило: «Не интересно? Не мешай!»
    
  
      .book__page.book__page_inverse
        .book__content
          p 2015
          p 
            | Библиотека “Ботан”
            br
            | г. Киев, ул. Воздвиженская 9-19
    
      .book__page.book__page_full-cover
        .book__content
          img(src="images/picture-1.jpg", alt="Иллюстрация")
    
  

      //- .book__page.book__page_title
      //-   .book__content
      //-     img(src="images/cover.jpg", alt="Обложка")
      //- 
      //- .book__page.book__page_full-cover
      //-   .book__content
      //-     img(src="images/picture-1.jpg", alt="Иллюстрация")
      //-     
      //-     
      //- .book__page.book__page_inverse
      //-   .book__content
      //-     p Последняя страничка.
        
    menu.book__navigation
      button.book__prev.book__prev_disabled(type="button") 
        span титульная 
        |  страница
      button.book__next.book__next_disabled(type="button") 
        span третья 
        |  страница
