<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta( name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    block title
      title bOtaN
    link(rel="stylesheet", href="css/styles.css")
  body.no-transitions
    header
      a(href="/")
        h1.logotype bOtaN
      a.info(href="#") Инфо
      a.video(href="#") 
        span
        | – посмотреть видео
    
    .information__map-full
      a.information__close-map(href="#") Закрыть
      .information__map-wrapper
    
    .information__crop
      .information__lightbox
      section.information
      
        nav.information__menu
          a.information__video(href="#") 
            span
            | – посмотреть видео
          a.information__close(href="#") Закрыть
          
        .information__wrapper
          .information__details
            p Жизнь, творческий путь, идейные искания Л. Н. Толстого по-прежнему увлекают умы наших современников, которые пытаются понять саму сущность творчества писателя и его учения. «Война и мир» — вершина творчества Л. Н. Толстого, как никакое другое произведение писателя отражает глубину его мироощущения и философии. Эта книга из разряда вечных, потому что она обо всем — о жизни и смерти, о любви и чести, о мужестве и героизме, о славе и подвиге, о войне и мире. 
          
          .information__brief
          
            .information__contacts
              a(href="tel:+380445678990") (044) 567 89 90
              br
              a(href="mailto:mail@idichitai.com.ua") mail@idichitai.com.ua
            
            .information__opening
              p 7:00 – 11:00
              p 12:00 – 23:00

            p.information__hourly 30 грн/час

            p.information__monthly 1400 грн/мес

          .information__map
            address.information__address
              | г. Киев 
              br
              | ул. Воздвиженская 
              br
              | 9-19
            
          
        
    block content
    footer
      a.map(href="https://goo.gl/maps/jFOIK", target="_blank") библиотека “botan”, ул. воздвижеская 78-68
      a.developed-by(href="http://territory.com.ua/", target="_blank") CB T

    script(src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAqLD93GvQqi6bMkWV1vNMQT5813h7mZAY")
    script(src="js/modernizr/modernizr.js")
    script(src="js/hammer.js/hammer.min.js")
    script(src="js/jquery/dist/jquery.min.js")
    script(src="js/keymaster/keymaster.js")
    script(src="js/ramjet/dist/ramjet.min.js")
    script(src="js/transitionEnd/src/transition-end.min.js")
    script(src="js/scripts.js", async, def)
