@import '../helper/helper';

.book{
  height: 560px;
  max-width: 941px;
  width: 73.515625vw;
  margin: auto;
  border: 1px solid $black;
  text-align: left;

  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: -281px auto auto;

  &:before{
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 20px;
    background: url('../images/shadow-left.png') 0 100% no-repeat;
    background-size: auto 20px;
    }
  &:after{
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    height: 20px;
    background: url('../images/shadow-right.png') 100% 100% no-repeat;
    background-size: auto 20px;
    }
  &__prev,
  &__next{
    cursor: pointer;
    display: block;
    z-index: 2;
    position: absolute;
    top: 100%;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    color: $black;
    letter-spacing: 2px;
    padding: 20px 0 0;
    background: none;
    border-style: none;
    background-repeat: no-repeat;
    transition: opacity .25s;
    &_disabled{
      opacity: 0;
      pointer-events: none;
      cursor: default;
      }
    }
  &__next{
    background-position: 100% 0;
    background-image: url('../svg/next.svg');
    left: 100%;
    margin: -46px 0 0 25px;
    text-align: right;
    }
  &__prev{
    background-position: 0 0;
    background-image: url('../svg/prev.svg');
    right: 100%;
    margin: -46px 25px 0 0;
    text-align: left;
    }
  &__pages{
    width: 100%;
    height: 560px;
    position: relative;
    background-color: $white;
    z-index: 1;
    overflow: hidden;
    &:before{
      content: "";
      display: block;
      width: 1px;
      height: 560px;
      position: absolute;
      right: 50%;
      top: 0;
      bottom: 0;
      background-color: $third-black;
      z-index: 10;
      }
    }
  &__page{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
    zoom: 1;
    background-color: $white;
    line-height: 70vh;
    vertical-align: top;
    display: inline-block;
    padding: 0 7.8125vw;
    overflow: hidden;
    box-sizing: border-box;
    white-space: normal;
    user-select: text;

    will-change: transform;

    box-shadow: none;
    transform: none;
    transition: transform .3s linear;


    &_left{
      left: 0;
      z-index: 6;
      transform: translateX(0);
      visibility: visible;
      & + .book__page + .book__page{
        transform: translateX(100%);
        visibility: visible;
        }
      &-new.book__page.book__page{
        transform: translateX(0);
        z-index: 5;
        visibility: visible;
        }
      &-prev{
        transform: translateX(50%);
        visibility: visible;
        z-index: 7;
        }
      &-old{
        z-index: 1;
        }
      }

    &_right{
      left: 50%;
      z-index: 8;
      transform: translateX(0);
      visibility: visible;
      &-old{
        transform: translateX(-100%);
        visibility: visible;
        z-index: 3;
        }
      & + .book__page + .book__page{
        left: 50%;
        z-index: 2;
        visibility: visible;
        }
      &-prev{
        left: 50%;
        transform: translateX(-100%);
        visibility: visible;
        z-index: 4;
        transition: none;
        &-placed{
          left: 50%;
          transform: translateX(0%);
          visibility: visible;
          z-index: 4;
          & + .book__page + .book__page{
            z-index: 3;
            }
          }
        & + .book__page + .book__page{
          z-index: 3;
          }
        }
      }

    &_inverse{
      background-color: $black;
      .book__content{
        color: $white;
        }
      }
    &_green{
      background-color: $green;
      }
    &_red{
      background-color: $red;
      }
    &_black{
      background-color: $black;
      }
    &_green,
    &_red,
    &_black{
      &:before{
        content: "";
        display: block;
        font-size: 0;
        line-height: 0;
        width: 17px;
        height: 4px;
        position: absolute;
        top: 22px;
        left: 50%;
        margin: 0 0 0 -9px;
        background-color: $white;
        overflow: hidden;
        }
      &:after{
        content: "";
        display: block;
        font-size: 0;
        line-height: 0;
        width: 17px;
        height: 4px;
        position: absolute;
        bottom: 22px;
        left: 50%;
        margin: 0 0 0 -9px;
        background-color: $white;
        overflow: hidden;
        }
      .book__content{
        color: $white;
        font-family: 'Gotham Pro', Helvetica, Arial, sans-serif;
        line-height: 50px;
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin: 50px 0;
        padding: 0;
        max-height: calc(100% - 100px);
        }
      }
    &_title{
      padding: 0;
      .book__content{
        width: 100%;
        height: 100%;
        padding: 0;
        max-width: initial;
        max-height: initial;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          display: block;
          }
        }
      }
    &_full-cover{
      padding: 0 20px;
      .book__content{
        overflow: hidden;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;
        img{
          display: block;
          min-width: 100%;
          min-height:100%;
          }
        }
      }
    &_cover{
      padding: 0 20px;
      text-align: center;
      .book__content{
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        img{
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          }
        }
      }
    &:first-child{
      border-left-style: none;
      }
    }
  &__content{
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    max-width: 100%;
    max-height: calc(100% - 44px);
    figure{
      img{
        margin: 0 0 88px;
        display: block;
        }
      figcaption{
        font-size: 14px;
        line-height: 22px;
        color: $black;
        }
      }
    p{
      margin: 0 0 22px;
      }
    }
  }

@media screen and (min-height: 800px) {
  html>body .book{
    &__page{
      line-height: 560px;
      }
    }
  }

@media screen and (min-width: 1280px) {
  html>body .book{
    &__page{
      padding: 0 100px;
      &_title{
        padding: 0;
        }
      &_full-cover,
      &_cover{
        padding: 0 20px;
        }
      }
    }
  }

@media screen and (max-width: 1240px) {
  html>body .book{
    width: 470px;
    &:before{
      width: 100%;
      }
    &:after{
      display: none;
      }
    &__pages{
      overflow: hidden;
      &:before{
        display: none;
        }
      }
    &__page{
      visibility: hidden;
      width: 100%;
      padding: 0 100px;
      transform: translateX(-100%);
      z-index: 5;

      &_current{
        transform: translateX(0);
        z-index: 4;
        visibility: visible;

        & + .book__page.book__page{
          z-index: 3;
          visibility: visible;
          }
        & ~ .book__page{
          transform: translateX(0);
          z-index: 2;
          }
        }
      &_title{
        padding: 0;
        }
      &_cover,
      &_full-cover{
        padding: 0 20px;
        }
      }
    }
  }

@media screen and (max-height: 800px) {
  html>body .book{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    &__page{
      line-height: 560px;
      }
    }
  }

@media screen and (max-width: 800px) {
  html>body .book{
      &__navigation{
        display: none;
        }
      }
    }

@media screen and (max-width: 472px) {
  html>body{
    &>header{
      .video{
        font-style: 0;
        line-height: 0;
        text-indent: -999px;
        &:before{
          position: absolute;
          top: 0;
          left: 0;
          }
        }
      }
    .book{
      width: 100%;
      border-style: none;
      vertical-align: top;
      &:after,
      &:before{
        display: none;
        }
      &__page{
        width: 100%;
        padding: 0 20px;
        }
      }
    }
  }
