@import '../helper/helper';

.book{
  height: 560px;
  max-width: 941px;
  width: 73.515625vw;
  margin: auto;
  text-align: left;

  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: -281px auto auto;
  .shadow-left{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    margin-top: -1px;
    z-index: -1;
    left: 0;
    width: 470px;
    height: 20px;
    &__wrapper{
      position: absolute;
      right: 0;
      top: 0;
      height: 20px;
      width: 0;
      background: url('../images/shadow-left.png') 100% 100% no-repeat;
      background-size: 100% 20px;
      opacity: 0;
      }
    }
  &:after{
    content: "";
    display: block;
    overflow: hidden;
    margin-top: -1px;
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    height: 20px;
    background: url('../images/shadow-right.png') 100% 100% no-repeat;
    background-size: auto 20px;
    }
  &__prev,
  &__next{
    border-style: none;
    cursor: pointer;
    display: block;
    z-index: 2;
    position: absolute;
    top: 100%;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    color: $black;
    letter-spacing: 2px;
    padding: 20px 0 0;
    background: none;
    background-repeat: no-repeat;
    transition: opacity .25s;
    font-family: 'PF Din', sans-serif;
    &_disabled{
      opacity: 0;
      pointer-events: none;
      cursor: default;
      }
    }
  &__next{
    background-position: 100% 0;
    background-image: url('../svg/next.svg');
    left: 100%;
    margin: -46px 0 0 25px;
    text-align: right;
    }
  &__prev{
    background-position: 0 0;
    background-image: url('../svg/prev.svg');
    right: 100%;
    margin: -46px 25px 0 0;
    text-align: left;
    }
  &__pages{
    width: 100%;
    height: 560px;
    position: relative;
    background-color: $white;
    z-index: 1;
    overflow: hidden;
    &:before{
      content: "";
      display: block;
      width: 1px;
      height: 560px;
      position: absolute;
      right: 50%;
      top: 0;
      bottom: 0;
      background-color: $third-black;
      z-index: 10;
      }
    }
  &__page{

    position: absolute;
    top: 0;
    left: 0;

    visibility: hidden;
    pointer-events: none;

    background-color: $white;
    line-height: 560px;
    width: 470px;
    height: 560px;

    padding: 0 100px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: normal;
    user-select: text;

    border: 1px solid $third-black;
    border-left-style: none;

    transform: translateZ(0);
    zoom: 1;

    &_left{
      pointer-events: all;
      z-index: 6;
      visibility: visible;
      border-right-style: none;
      border-left-style: solid;
      }

    &_right{
      pointer-events: all;
      margin-left: 50%;
      z-index: 8;
      visibility: visible;
      border-right-style: solid;
      border-left-style: none;
      }

    &_inverse{
      background-color: $black;
      .book__content{
        color: $white;
        }
      }
    &_empty{
      border-style: none !important;
      }
    &_green{
      background-color: $green;
      }
    &_red{
      background-color: $red;
      }
    &_black{
      background-color: $black;
      }
    &_green,
    &_red,
    &_black{
      &:before{
        content: "";
        display: block;
        font-size: 0;
        line-height: 0;
        width: 17px;
        height: 4px;
        position: absolute;
        top: 22px;
        left: 50%;
        margin: 0 0 0 -9px;
        background-color: $white;
        overflow: hidden;
        }
      &:after{
        content: "";
        display: block;
        font-size: 0;
        line-height: 0;
        width: 17px;
        height: 4px;
        position: absolute;
        bottom: 22px;
        left: 50%;
        margin: 0 0 0 -9px;
        background-color: $white;
        overflow: hidden;
        }
      .book__content{
        color: $white;
        font-family: 'Gotham Pro', Helvetica, Arial, sans-serif;
        line-height: 50px;
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin: 50px 0;
        padding: 0;
        max-height: calc(100% - 100px);
        }
      }
    &_title{
      padding: 0;
      .book__content{
        width: 100%;
        height: 100%;
        padding: 0;
        max-width: none;
        max-height: none;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          display: block;
          }
        }
      }
    &_full-cover{
      padding: 0 20px;
      .book__content{
        overflow: hidden;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;
        img{
          display: block;
          min-width: 100%;
          min-height:100%;
          }
        }
      }
    &_cover{
      padding: 0 20px;
      text-align: center;
      .book__content{
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        width: auto;
        img{
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          }
        }
      }
    }
  &__content{
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    max-height: 516px;
    figure{
      img{
        margin: 0 0 88px;
        display: block;
        }
      figcaption{
        font-size: 14px;
        line-height: 22px;
        color: $black;
        }
      }
    p{
      margin: 0 0 22px;
      }
    }
  }


@media screen and (max-width: 1240px) {
  html>body .book{
    width: 470px;
    &_first{
      animation: debonce .4s ease-in-out 1;
      }
    &_last{
      animation: bonce .4s ease-in-out 1;
      }
    .shadow-left{
      display: none;
      }
    &:after{
      width: 100%;
      }
    &__pages{
      border-left: 1px solid $third-black;
      &:before{
        display: none;
        }
      }
    &__page{
      width: 100%;
      padding: 0 100px;
      margin-left: -100%;
      z-index: 1;
      visibility: hidden;
      border-left-style:none;
      &_current{
        visibility: visible;
        margin-left: 0;
        z-index: 2;
        }
      &_title{
        padding: 0;
        }
      &_cover,
      &_full-cover{
        padding: 0 20px;
        }
      }
    }
  }

@media screen and (max-height: 800px) {
  html>body .book{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    &__page{
      line-height: 560px;
      }
    }
  }

@media screen and (max-width: 800px) {
  html>body .book{
      &__navigation{
        display: none;
        }
      }
    }

@media screen and (max-width: 472px) {
  html>body{
    .book{
      width: 100%;
      vertical-align: top;
      border-style: none;
      &:after,
      &:before{
        display: none;
        }
      &__pages{
        border-left: none;
        &:after,
        &:before{
          display: none;
          }
        }
      &__page{
        border-style: none;
        width: 100%;
        padding: 0 20px;
        &_title{
          padding: 0;
          }
        }
      }
    }
  }



@keyframes bonce {
  50% {
    transform: translateX(-20%);
  }
}

@keyframes debonce {
  50% {
    transform: translateX(20%);
  }
}
