@font-face {
    font-family: 'PF Din';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
