@import '../helper/helper';

html.no-background-blend-mode>body .information{
  &__map{
    background: $dark-green url('../images/map.jpg') 50% 50% no-repeat;
    background-size: cover;
    &:after{
      display: none;
      }
    }
  }

html>body.info__map{
  overflow: hidden;
  .information{
    overflow: hidden;
    }
  }

html>body.info__popup{
  &>header{
    .info{
      z-index: 22;
      }
    .video{
      color: $white;
      z-index: 25;
      span{
        background-color: $white;
        background-image: url('../svg/cinema-black.svg');
        }
      }
    }
  .information{
    &__lightbox{
      display: block;
      }
    }
  }

.marker{
  &__title{
    width: 80px;
    height: 40px;
    overflow: hidden;
    margin: auto;
    text-decoration: none;
    background: url('../svg/logotype.svg') 50% 50% no-repeat;
    text-indent: -999px;
    font-style: 0;
    line-height: 0;
    }
  &__text{
    font-family: 'PF Din', sans-serif;
    }
  }

.information{

  min-height: 300px;
  line-height: 300px;

  padding: 60px 0 20px;

  width: 0;

  height: 66.25vh;
  line-height: 66.25vh;

  background-color: $black;
  text-align: center;

  overflow: hidden;

  z-index: 15;

  position: absolute;
  top: 0;
  left: 100%;

  display: none;

  &__close{
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $black;
    width: 70px;
    line-height: 40px;
    font-size: 10px;
    background-color: $white;
    font-family: 'PF Din', sans-serif;

    opacity: 0;
    display: none;
    z-index: 25;

    &-map{
      position: absolute;
      right: 0;
      top: 0;
      z-index: 31;

      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: $black;
      width: 70px;
      line-height: 40px;
      font-size: 10px;
      background-color: $white;
      font-family: 'PF Din', sans-serif;
      cursor: pointer;
      }
    }

  &__lightbox{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 14;
    cursor: pointer;

    display: none;
    }

  &__wrapper{
    display: inline-block;

    display: flex;
    justify-content: space-between;
    align-items: center;

    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    white-space: normal;
    text-align-last: auto;
    max-width: 1150px;
    margin: 0 auto;
    color: $white;
    text-align: left;
    height: 100%;

    a{
      color: $white;
      text-decoration: none;
      }

    &>*{
      flex-grow: 0;
      flex-shrink: 0;
      }
    }

  &__details{
    font-family: 'PF Din', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    width: 340px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    }

  &__brief{
    width: 150px;
    font-family: 'PF Din', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    white-space: nowrap;
    p{
      padding: 0 0 0 25px;
      }
    }

  &__monthly{
    background: url('../svg/id.svg') 0 50% no-repeat;
    margin: 25px 0 0;
    line-height: 25px;
    }

  &__hourly{
    background: url('../svg/usd.svg') 0 1px no-repeat;
    }
  &__opening{
    background: url('../svg/clock.svg') 0 1px no-repeat;
    }
  &__contacts{
    background: url('../svg/tel.svg') 0 1px no-repeat;
    padding: 0 0 0 25px;
    }

  &__hourly,
  &__opening,
  &__contacts{
    margin: 0 0 15px;
    }

  &__map{
    position: relative;
    margin: 0 20px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    font-family: 'PF Din', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    background: $dark-green  url('http://maps.googleapis.com/maps/api/staticmap?center=Украина,Киев,Воздвиженская,9-19&zoom=18&size=640x640&sensor=false&scale=2') 50% 50% no-repeat;
    background-size: auto 300px;

    background-blend-mode: multiply;

    &-wrapper{
      width: 100%;
      height: 100%;
      width: 100vw;
      height: 100vh;
      }

    &-full{
      line-height: 1.4;
      font-style: 100%;
      position: fixed;
      bottom: 100%;
      right: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      z-index: 30;
      transition: bottom .25s;
      &.visible{
        bottom: 0;
        }
      }
    }

  &__address{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 160px;
    padding:140px 0 0 160px;
    background: url('../svg/magnifier.svg') 100px 138px no-repeat;
    background-size: 65px 65px;
    z-index: 3;
    line-height: 12px;
    }
  }


@media screen and (max-width: 910px) {
  html>body .information{
    &__wrapper{
      max-width: none;
      display: block;
      position: relative;
      }
    &__details{
      width: auto;
      margin: 0 340px 20px 20px;
      padding: 0;
      }
    &__brief{
      padding: 0;
      position: relative;
      margin: 0 340px 0 20px;
      display: block;
      width: auto;
      white-space: normal;
      font-size: 0;
      &>*{
        white-space: nowrap;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        overflow: hidden;
        margin: 0 0 20px;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 16px;
        &.information__monthly{
          top: -4px;
          position: relative;
          line-height: 25px;
          }
        }
      }
    &__map{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -150px;
      }
    }
  }

@media screen and (max-width: 700px) {
  html>body .information{
    &__brief{
      &>*{
        width: auto;
        display: block;
        }
      }
    }
  }

@media screen and (max-width: 650px) {
  html>body .information{
    &__details{
      margin: 0 20px 20px;
      }
    &__brief{
      margin: 0 20px;
      &>*{
        width: 50%;
        display: inline-block;
        }
      }
    &__address{
      margin:0 auto;
      position: static;
      }
    &__map{
      position: relative;
      right: auto;
      top: auto;
      margin: 0;
      width: 100%;
      border-radius: 0;
      background: $dark-green  url('http://maps.googleapis.com/maps/api/staticmap?center=Украина,Киев,Воздвиженская,9-19&zoom=17&size=640x640&sensor=false&scale=2') 50% 50% no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      }
    }
  }
